In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
data=pd.read_sas("payhistory.sas7bdat")
data.head()

        PID      PDATE   PAMT    EXTRELNO PAYTYPECD STATUS
0      38.0 1993-12-31   9.57  b'0000019'      b'X'  b'CO'
1      39.0 1993-12-31  41.32  b'0000020'      b'X'  b'CO'
2      40.0 1993-12-31  13.10  b'0000020'      b'X'  b'CO'
3   54091.0 1994-01-01   2.02  b'0000020'      b'X'  b'CO'
4  104480.0 1994-05-19   0.50  b'0000020'      b'D'  b'OK'

In [4]:
data.iloc[:,3]=data.iloc[:,3].str.decode("utf-8")

In [5]:
data.iloc[:,4]=data.iloc[:,4].str.decode("utf-8")
data.iloc[:,5]=data.iloc[:,5].str.decode("utf-8")

In [6]:
data.head()

        PID      PDATE   PAMT EXTRELNO PAYTYPECD STATUS
0      38.0 1993-12-31   9.57  0000019         X     CO
1      39.0 1993-12-31  41.32  0000020         X     CO
2      40.0 1993-12-31  13.10  0000020         X     CO
3   54091.0 1994-01-01   2.02  0000020         X     CO
4  104480.0 1994-05-19   0.50  0000020         D     OK

In [7]:
'''
pid-Unique identifier for each payment.
pdate-Date of payment
pamt-Amount of payment
Extrelno-Unique identifier of each donor
Paytypecd- Paytype
O Bank transfer
D Permanent order
E Own initiative
X Unkonown

Status
Status of payment
OK   Normal/Real payment
CO   Correction (internal)
RF    RF (Refund)
RC    Recall
'''

'\npid-Unique identifier for each payment.\npdate-Date of payment\npamt-Amount of payment\nExtrelno-Unique identifier of each donor\nPaytypecd- Paytype\nO Bank transfer\nD Permanent order\nE Own initiative\nX Unkonown\n\nStatus\nStatus of payment\nOK   Normal/Real payment\nCO   Correction (internal)\nRF    RF (Refund)\nRC    Recall\n'

In [8]:
data.dtypes

PID                 float64
PDATE        datetime64[ns]
PAMT                float64
EXTRELNO             object
PAYTYPECD            object
STATUS               object
dtype: object

In [7]:
data1=pd.read_sas("comclas.sas7bdat")
data1.head()

  CLASCODE                    CLASDESC
0    b'CT'                 b'CTS-item'
1    b'RI'  b'Request for information'
2    b'CM'                b'Complaint'
3    b'TA'     b'Threath / Accusation'
4    b'AK'          b'Acknowledgement'

In [8]:
for col in data1.columns:
    data1[col]=data1[col].str.decode("utf-8")

In [8]:
data1.head()

  CLASCODE                 CLASDESC
0       CT                 CTS-item
1       RI  Request for information
2       CM                Complaint
3       TA     Threath / Accusation
4       AK          Acknowledgement

In [12]:
data1['CLASDESC'].value_counts()

Complaint                  1
Request for information    1
Reminder                   1
Answer                     1
Threath / Accusation       1
Acknowledgement            1
CTS-item                   1
Information delivery       1
Name: CLASDESC, dtype: int64

In [13]:
'''
Comclas-Description of the contact class.
Clascode- Code of contact class
Clasdesc- Description

'''

'\nComclas-Description of the contact class.\nClascode- Code of contact class\nClasdesc- Description\n\n'

In [14]:
data1.dtypes

CLASCODE    object
CLASDESC    object
dtype: object

In [9]:
data2=pd.read_sas("commaint.sas7bdat")
data2.head()

  MNTOPCODE                      MNTOPDESC
0    b'CAN'  b'Cancellations/replacements'
1    b'DIS'            b'Discontinuations'
2    b'MKT'       b'Marketing - Enquiries'
3    b'GEN'                     b'General'
4    b'NEW'               b'New relations'

In [10]:
for col in data2.columns:
    data2[col]=data2[col].str.decode("utf-8")

In [17]:
data2.head()

  MNTOPCODE                   MNTOPDESC
0       CAN  Cancellations/replacements
1       DIS            Discontinuations
2       MKT       Marketing - Enquiries
3       GEN                     General
4       NEW               New relations

In [18]:
data2['MNTOPDESC'].value_counts()

General                            2
Merchandising                      1
Change in information Relation     1
Finance                            1
Reports                            1
Contacts for sponsoring            1
Translation                        1
Cancellations/replacements         1
Tax forms                          1
Projects                           1
Discontinuations                   1
Volunteers                         1
Correspondence FP/FC               1
Information about FF/FC            1
Communication Tracking System      1
Action                             1
Web related Actions: E-commerce    1
Visits                             1
Fiscal certificates                1
Catastrophes                       1
Marketing - Enquiries              1
Enrollment                         1
Mail met FC, klachten en info      1
information about Plan             1
Public Relations activities        1
TV-Show                            1
Arrears                            1
New relations                      1
Special Forms                      1
Name: MNTOPDESC, dtype: int64

In [19]:
'''
Commaint-Description of the main topic code.
Mntopcode- Main topic code
Mntopdesc- Description

'''

'\nCommaint-Description of the main topic code.\nMntopcode- Main topic code\nMntopdesc- Description\n\n'

In [11]:
data3=pd.read_sas("commediu.sas7bdat")
data3.head()

  MEDIUMCODE               MEDIUMDESC
0      b'FF'  b'Face to Face contact'
1      b'FX'                   b'Fax'
2      b'TX'                 b'Telex'
3      b'EM'       b'Electronic Mail'
4      b'TE'        b'Telephone call'

In [12]:
for col in data3.columns:
    data3[col]=data3[col].str.decode("utf-8")

In [22]:
data3.head()

  MEDIUMCODE            MEDIUMDESC
0         FF  Face to Face contact
1         FX                   Fax
2         TX                 Telex
3         EM       Electronic Mail
4         TE        Telephone call

In [23]:
'''
Commediu: Description of medium type.
Mediumcode- Code of the mediumtype
Mediumdesc- Description

'''

'\nCommediu: Description of medium type.\nMediumcode- Code of the mediumtype\nMediumdesc- Description\n\n'

In [13]:
data4=pd.read_sas("communication.sas7bdat")
data4.head()

         CONTID MEDIUMCODE MNTOPCODE CLASCODE    EXTRELNO CONTDIREC   CONTDATE
0  b'000405402'      b'CI'    b'CTS'    b'CT'  b'0000020'      b'O' 1994-05-09
1  b'000430904'      b'CI'    b'CTS'    b'CT'  b'0000020'      b'O' 1994-06-14
2  b'000592732'      b'CI'    b'CTS'    b'CT'  b'0000020'      b'O' 1994-10-21
3  b'000593375'      b'CI'    b'CTS'    b'CT'  b'0000020'      b'O' 1994-10-21
4  b'000618514'      b'CI'    b'CTS'    b'CT'  b'0000020'      b'O' 1994-11-28

In [14]:
for col in data4.columns:
    if col != 'CONTDATE':
        data4[col]=data4[col].str.decode("utf-8")

In [26]:
data4.head()

      CONTID MEDIUMCODE MNTOPCODE CLASCODE EXTRELNO CONTDIREC   CONTDATE
0  000405402         CI       CTS       CT  0000020         O 1994-05-09
1  000430904         CI       CTS       CT  0000020         O 1994-06-14
2  000592732         CI       CTS       CT  0000020         O 1994-10-21
3  000593375         CI       CTS       CT  0000020         O 1994-10-21
4  000618514         CI       CTS       CT  0000020         O 1994-11-28

In [27]:
'''
Communication:    All    possible communication    between    the    donor    and    the 
organization
Contid-Unique identifier for each contact
Mediumcode-Medium of the contact (CI is unknown)
Mntopcode-Main topic code of the contact
Classcode-Class of the contact
Extrelno-Unique identifier for each donor
Contdirec-Direction of the communication
I-Incoming
P-Outgoing
Contdate-Date of the contact

'''

'\nCommunication:    All    possible communication    between    the    donor    and    the \norganization\nContid-Unique identifier for each contact\nMediumcode-Medium of the contact (CI is unknown)\nMntopcode-Main topic code of the contact\nClasscode-Class of the contact\nExtrelno-Unique identifier for each donor\nContdirec-Direction of the communication\nI-Incoming\nP-Outgoing\nContdate-Date of the contact\n\n'

In [15]:
data5=pd.read_sas("extrel.sas7bdat")
data5.head()

     EXTRELNO EXRELACTCD EXTRELSTDT EXRELDATEN
0  b'0026414'      b'CT' 1995-02-02        NaT
1  b'0026419'      b'FP' 1992-03-01        NaT
2  b'0026424'      b'FP' 1992-03-01 1996-12-24
3  b'0026430'      b'FP' 1992-03-01 2006-01-31
4  b'0026430'      b'CT' 1997-03-07        NaT

In [16]:
data5['EXTRELNO']=data5.iloc[:,0].str.decode("utf-8")
data5['EXRELACTCD']=data5.iloc[:,1].str.decode("utf-8")

In [30]:
data5.head()

  EXTRELNO EXRELACTCD EXTRELSTDT EXRELDATEN
0  0026414         CT 1995-02-02        NaT
1  0026419         FP 1992-03-01        NaT
2  0026424         FP 1992-03-01 1996-12-24
3  0026430         FP 1992-03-01 2006-01-31
4  0026430         CT 1997-03-07        NaT

In [31]:
data5.dtypes

EXTRELNO              object
EXRELACTCD            object
EXTRELSTDT    datetime64[ns]
EXRELDATEN    datetime64[ns]
dtype: object

In [32]:
'''
Extrel: All the donors of the organization.
Extrelno-Unique identifier of each donor
Exrelactcd-Activity code of the donor
Extrelstdt-Start date of the relationship
Exreldaten-End date of the relationship (Missing: not ended
'''

'\nExtrel: All the donors of the organization.\nExtrelno-Unique identifier of each donor\nExrelactcd-Activity code of the donor\nExtrelstdt-Start date of the relationship\nExreldaten-End date of the relationship (Missing: not ended\n'

In [17]:
data6=pd.read_sas("extrelty.sas7bdat")
data6.head()

  EXRELACTCD       EXRELACTDE
0      b'FP'  b'CommitmentDo'
1      b'PS'      b'Prospect'
2      b'PF'  b'Prosp Fundra'
3      b'PP'  b'Prosp Promot'
4      b'GR'       b'Grantor'

In [18]:
for col in data6.columns:
    data6[col]=data6[col].str.decode("utf-8")

In [35]:
data6.head()

  EXRELACTCD    EXRELACTDE
0         FP  CommitmentDo
1         PS      Prospect
2         PF  Prosp Fundra
3         PP  Prosp Promot
4         GR       Grantor

In [36]:
'''
Extrelty: Description of the activity
Exrelactcd-Activity code of the donor
Exrelactde-Description of the activity
'''

'\nExtrelty: Description of the activity\nExrelactcd-Activity code of the donor\nExrelactde-Description of the activity\n'

In [19]:
data7=pd.read_sas("nameaddr.sas7bdat")
data7.head()

     EXTRELNO NAME1TITLE POSTCODE LANGUACODE
0  b'0000019'      b'HR'  b'2500'      b'NL'
1  b'0000020'      b'HR'  b'9550'      b'NL'
2  b'0000035'      b'HM'  b'2150'      b'NL'
3  b'0000042'      b'FA'  b'3012'      b'NL'
4  b'0000043'      b'MW'  b'3000'      b'NL'

In [38]:
'''
Nameaddr: Sociodemographical information
Extrelno-Unique identifier of each donor
Name1title-Title to address someone
Postcode-Postcode
Languagecode-Preferred mailing language
'''

'\nNameaddr: Sociodemographical information\nExtrelno-Unique identifier of each donor\nName1title-Title to address someone\nPostcode-Postcode\nLanguagecode-Preferred mailing language\n'

In [19]:
data7['NAME1TITLE']=data7.iloc[:,1].str.decode("utf-8")

In [20]:
data7['EXTRELNO']=data7.iloc[:,0].str.decode("utf-8")
data7['POSTCODE']=data7.iloc[:,2].str.decode("utf-8")
data7['LANGUACODE']=data7.iloc[:,3].str.decode("utf-8")

In [41]:
data7.dtypes

EXTRELNO      object
NAME1TITLE    object
POSTCODE      object
LANGUACODE    object
dtype: object

In [42]:
data7.head()

  EXTRELNO NAME1TITLE POSTCODE LANGUACODE
0  0000019         HR     2500         NL
1  0000020         HR     9550         NL
2  0000035         HM     2150         NL
3  0000042         FA     3012         NL
4  0000043         MW     3000         NL

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205720 entries, 0 to 1205719
Data columns (total 6 columns):
PID          1205720 non-null float64
PDATE        1205720 non-null datetime64[ns]
PAMT         1205720 non-null float64
EXTRELNO     1205720 non-null object
PAYTYPECD    1187546 non-null object
STATUS       1205719 non-null object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 55.2+ MB

In [44]:
data.describe()

                PID          PAMT
count  1.205720e+06  1.205720e+06
mean   2.655267e+06  2.579925e+01
std    1.480799e+06  3.725114e+01
min    3.800000e+01 -2.436960e+03
25%    1.377468e+06  2.033000e+01
50%    2.709602e+06  2.033000e+01
75%    3.946880e+06  2.300000e+01
max    5.101978e+06  2.436960e+03

In [45]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
CLASCODE    8 non-null object
CLASDESC    8 non-null object
dtypes: object(2)
memory usage: 208.0+ bytes

In [46]:
data1.describe()

       CLASCODE   CLASDESC
count         8          8
unique        8          8
top          CT  Complaint
freq          1          1

In [47]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
MNTOPCODE    30 non-null object
MNTOPDESC    30 non-null object
dtypes: object(2)
memory usage: 560.0+ bytes

In [48]:
data2.describe()

       MNTOPCODE MNTOPDESC
count         30        30
unique        30        29
top          ALL   General
freq           1         2

In [49]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
MEDIUMCODE    16 non-null object
MEDIUMDESC    16 non-null object
dtypes: object(2)
memory usage: 336.0+ bytes

In [50]:
data3.describe()

       MEDIUMCODE        MEDIUMDESC
count          16                16
unique         16                16
top            LE  Application form
freq            1                 1

In [51]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 763569 entries, 0 to 763568
Data columns (total 7 columns):
CONTID        763569 non-null object
MEDIUMCODE    763569 non-null object
MNTOPCODE     763569 non-null object
CLASCODE      763569 non-null object
EXTRELNO      763569 non-null object
CONTDIREC     763569 non-null object
CONTDATE      763569 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 40.8+ MB

In [52]:
data4.describe()

,CONTID,MEDIUMCODE,MNTOPCODE,CLASCODE,EXTRELNO,CONTDIREC,CONTDATE
count,763569,763569,763569,763569,763569,763569,763569
unique,763328,15,24,9,21932,2,3290
top,005059385,CI,CTS,CT,0181194,O,2001-11-20 00:00:00
freq,2,446595,453839,459032,1008,733423,10760
first,NaN,NaN,NaN,NaN,NaN,NaN,1993-11-02 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,2007-01-25 00:00:00

In [53]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26689 entries, 0 to 26688
Data columns (total 4 columns):
EXTRELNO      26689 non-null object
EXRELACTCD    26689 non-null object
EXTRELSTDT    26689 non-null datetime64[ns]
EXRELDATEN    10168 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 834.1+ KB

In [54]:
data5.describe()

       EXTRELNO EXRELACTCD           EXTRELSTDT           EXRELDATEN
count     26689      26689                26689                10168
unique    18704         17                 2877                 2567
top     0038595         FP  1994-11-29 00:00:00  1994-12-07 00:00:00
freq          6      11442                 1039                   58
first       NaN        NaN  1989-11-01 00:00:00  1927-10-31 00:00:00
last        NaN        NaN  2007-02-01 00:00:00  2007-01-25 00:00:00

In [55]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
EXRELACTCD    26 non-null object
EXRELACTDE    26 non-null object
dtypes: object(2)
memory usage: 496.0+ bytes

In [56]:
data6.describe()

       EXRELACTCD EXRELACTDE
count          26         26
unique         26         26
top            PO   Prospect
freq            1          1

In [57]:
data4.columns

Index(['CONTID', 'MEDIUMCODE', 'MNTOPCODE', 'CLASCODE', 'EXTRELNO',
       'CONTDIREC', 'CONTDATE'],
      dtype='object')

In [58]:
len(data4)

763569

In [ ]:
#Splitting data into timewindow defined.

In [20]:
data.sort_values('PDATE',inplace=True)

In [21]:
data4.sort_values('CONTDATE',inplace=True)

In [22]:
data5.sort_values('EXRELDATEN',inplace=True)

In [23]:
import datetime
new_data=data[data.PDATE<=datetime.date(2005,12,3)]

C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [24]:
new_data4=data4[data4.CONTDATE<=datetime.date(2005,12,3)]

C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

In [108]:

new_data5=data5[data5.EXRELDATEN<=pd.Timestamp(2005,12,3)]

In [26]:
donors=(new_data4['EXTRELNO'].unique())

In [29]:
ind_data=(new_data4['EXTRELNO'].value_counts()).to_frame()

In [30]:
ind_data.index.names = ['EXTRELNO']
ind_data.rename(index={None:'EXTRELNO'},columns={'EXTRELNO':'Frequency'},inplace=True)

In [33]:
someday=datetime.date(2005,12,3)

In [43]:
new_data4['recency']=pd.Timestamp(2005,12,3)-new_data4['CONTDATE']

C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
ind_data['recency']=new_data4.groupby('EXTRELNO').recency.min()

In [45]:
ind_data.head()

          Frequency recency
EXTRELNO
0181194         760 11 days
0001773         545 10 days
0025455         476 10 days
0035750         435 12 days
0035231         373 40 days

In [46]:
ind_data['sum']=new_data.groupby('EXTRELNO').PAMT.sum()

In [47]:
ind_data.head()

          Frequency recency       sum
EXTRELNO
0181194         760 11 days   7412.56
0001773         545 10 days  52168.79
0025455         476 10 days  28243.57
0035750         435 12 days  14648.45
0035231         373 40 days  27620.49

In [48]:
ind_data['avg']=new_data.groupby('EXTRELNO').PAMT.mean()

In [49]:
ind_data.head()

          Frequency recency       sum         avg
EXTRELNO
0181194         760 11 days   7412.56   23.020373
0001773         545 10 days  52168.79   20.259724
0025455         476 10 days  28243.57  110.759098
0035750         435 12 days  14648.45   57.899012
0035231         373 40 days  27620.49   20.160942

In [51]:
temp=new_data
temp.index=new_data.EXTRELNO
temp1=temp['PAYTYPECD'].to_frame()

In [52]:
temp2=pd.DataFrame()

In [53]:
curr_val=pd.get_dummies(temp1['PAYTYPECD'],prefix='PAYTYPECD')

In [54]:
curr_val.loc['0000020'].sum()

PAYTYPECD_D    139
PAYTYPECD_E      0
PAYTYPECD_O      0
PAYTYPECD_X      3
dtype: int64

In [55]:
pay_type=curr_val.groupby('EXTRELNO').sum()

In [56]:
len(pay_type)

15900

In [57]:
ind_data=ind_data.join(pay_type)

In [58]:
data7.index=data7['EXTRELNO']

In [59]:
ind_data.join(data7['LANGUACODE'])

,Frequency,recency,sum,avg,PAYTYPECD_D,PAYTYPECD_E,PAYTYPECD_O,PAYTYPECD_X,LANGUACODE
EXTRELNO,,,,,,,,,
0181194,760,11 days,7412.56,23.020373,322.0,0.0,0.0,0.0,NaN
0001773,545,10 days,52168.79,20.259724,2463.0,42.0,15.0,25.0,NaN
0025455,476,10 days,28243.57,110.759098,0.0,10.0,214.0,10.0,NaN
0035750,435,12 days,14648.45,57.899012,232.0,10.0,0.0,4.0,NaN
0035231,373,40 days,27620.49,20.160942,1332.0,0.0,0.0,28.0,NaN
0000955,312,162 days,5687.19,15.005778,0.0,7.0,361.0,9.0,NaN
0009970,308,54 days,2811.97,19.943050,138.0,0.0,1.0,2.0,NaN
0033799,296,59 days,4157.86,50.705610,45.0,0.0,24.0,4.0,NaN
0174473,296,16 days,5606.39,14.910612,0.0,7.0,366.0,0.0,NaN
0007417,294,19 days,8441.48,20.639315,187.0,0.0,212.0,8.0,NaN
0033814,292,9 days,2801.57,19.869291,139.0,0.0,0.0,2.0,NaN
0026161,283,65 days,6572.97,20.734921,314.0,0.0,0.0,2.0,NaN
0176844,281,39 days,5481.74,21.002835,260.0,0.0,0.0,0.0,NaN
0015180,277,184 days,5093.78,19.367985,256.0,0.0,0.0,6.0,NaN
0012725,277,39 days,8399.14,19.624159,419.0,0.0,0.0,6.0,NaN
0182761,273,10 days,2630.39,20.549922,0.0,7.0,117.0,0.0,NaN
0004858,267,199 days,5702.34,33.741657,162.0,0.0,0.0,7.0,NaN
0005613,261,23 days,2776.63,47.061525,30.0,2.0,16.0,4.0,NaN
0206627,261,12 days,1735.87,21.698375,79.0,0.0,1.0,0.0,NaN
0003878,256,106 days,5662.43,20.008587,278.0,0.0,0.0,4.0,NaN
0032313,255,18 days,11104.64,103.781682,0.0,0.0,93.0,11.0,NaN
0003592,253,2 days,5449.78,20.487895,253.0,0.0,10.0,2.0,NaN
0016448,248,3 days,2809.71,133.795714,0.0,0.0,15.0,3.0,NaN
0001964,247,141 days,6285.30,13.634056,0.0,11.0,437.0,9.0,NaN
0022535,246,586 days,15638.70,110.131690,0.0,0.0,112.0,9.0,NaN
0037931,246,9 days,7008.33,84.437711,0.0,1.0,71.0,2.0,NaN
0036272,244,913 days,1876.18,41.692889,0.0,0.0,40.0,2.0,NaN
0009585,239,23 days,4857.83,17.794249,152.0,0.0,110.0,10.0,NaN
0031118,236,8 days,9927.17,42.243277,0.0,2.0,215.0,14.0,NaN
0035402,235,680 days,2066.99,48.069535,41.0,0.0,0.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...
0186881,1,3684 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0214317,1,2166 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0193643,1,3287 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0230219,1,679 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0159937,1,4022 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0187235,1,3672 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0193596,1,3288 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0184985,1,3718 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0162564,1,4022 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0163314,1,4022 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0182726,1,3743 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0187565,1,3658 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0227259,1,1360 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0190842,1,3561 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0196795,1,3098 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0222960,1,1772 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0175817,1,3985 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0161944,1,4022 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0191261,1,3547 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0192231,1,3459 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0155224,1,3934 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0179622,1,3889 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0193917,1,3278 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0035340,1,3934 days,1.51,1.510000,0.0,0.0,0.0,1.0,NaN
0218271,1,2041 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0174708,1,4006 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0195282,1,3207 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0219936,1,1739 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0214080,1,2167 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0158668,1,4022 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
complaint_data=new_data4[new_data4.CLASCODE=='CM']

In [78]:
complaint_data.index=complaint_data['EXTRELNO']

In [81]:
temp=ind_data
temp=temp.join(complaint_data['CLASCODE'])

In [82]:
curr_val1=pd.get_dummies(temp['CLASCODE'],prefix='CLASCODE')

In [83]:
#groupby index
curr_val1=curr_val1.groupby(curr_val1.index).sum()

In [84]:
ind_data=ind_data.join(curr_val1)

In [80]:
ind_data.drop('CLASCODE',axis=1,inplace=True)

In [68]:
#duplicate data present
ind_data[ind_data.index.value_counts()>1]
# uni_index=ind_data.index.drop_duplicates(keep='first')
# temp=ind_data
# ind_data=pd.DataFrame(index=uni_index)
# ind_data.join(temp)
# len(ind_data)
temp['EXTRELNO']=temp.index
ind_data=temp.drop_duplicates(subset='EXTRELNO')

C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [85]:
ind_data

,Frequency,recency,sum,avg,PAYTYPECD_D,PAYTYPECD_E,PAYTYPECD_O,PAYTYPECD_X,EXTRELNO,CLASCODE_CM
EXTRELNO,,,,,,,,,,
0000020,49,313 days,2852.97,19.812292,139.0,0.0,0.0,3.0,0000020,0
0000035,57,30 days,2844.40,20.173050,139.0,0.0,0.0,2.0,0000035,0
0000042,36,1710 days,1543.03,18.153294,82.0,0.0,0.0,3.0,0000042,0
0000043,112,680 days,4373.24,19.097118,221.0,0.0,0.0,5.0,0000043,0
0000060,36,2121 days,1333.33,17.543816,69.0,0.0,0.0,6.0,0000060,0
0000072,59,155 days,2835.06,51.546545,47.0,0.0,0.0,3.0,0000072,0
0000081,156,120 days,8273.71,53.036603,137.0,0.0,0.0,7.0,0000081,1
0000089,47,46 days,2829.47,19.786503,139.0,0.0,0.0,3.0,0000089,0
0000091,48,680 days,2288.56,19.560342,111.0,0.0,0.0,6.0,0000091,0
0000100,64,106 days,2834.50,19.414384,139.0,0.0,0.0,6.0,0000100,0
0000105,49,117 days,2853.90,57.078000,47.0,0.0,0.0,3.0,0000105,0
0000109,56,162 days,2885.13,82.432286,0.0,1.0,29.0,2.0,0000109,0
0000113,57,255 days,2846.38,53.705283,46.0,0.0,0.0,4.0,0000113,0
0000114,59,281 days,2826.34,134.587619,0.0,0.0,15.0,4.0,0000114,0
0000115,57,72 days,2852.47,20.087817,139.0,0.0,0.0,3.0,0000115,0
0000120,37,2326 days,1037.19,69.146000,6.0,0.0,2.0,4.0,0000120,0
0000131,58,65 days,2846.32,53.704151,47.0,0.0,0.0,3.0,0000131,0
0000148,21,3139 days,529.00,48.090909,4.0,0.0,0.0,4.0,0000148,0
0000156,23,1036 days,1868.22,16.830811,107.0,0.0,0.0,3.0,0000156,0
0000157,24,2811 days,707.97,14.749375,40.0,0.0,0.0,4.0,0000157,0
0000159,52,58 days,2832.64,19.948169,139.0,0.0,0.0,2.0,0000159,0
0000165,86,199 days,5635.44,19.983830,274.0,0.0,0.0,6.0,0000165,0
0000169,116,227 days,2845.40,20.180142,138.0,0.0,0.0,3.0,0000169,0
0000174,52,58 days,2829.97,19.790000,139.0,0.0,0.0,3.0,0000174,1
0000188,60,242 days,2838.37,39.977042,0.0,3.0,62.0,3.0,0000188,0
0000199,115,40 days,5665.63,20.527645,266.0,2.0,0.0,6.0,0000199,0
0000202,94,124 days,2851.97,20.084296,138.0,0.0,1.0,3.0,0000202,1
0000203,54,8 days,2858.01,19.442245,142.0,0.0,1.0,4.0,0000203,0
0000208,63,8 days,2837.60,83.458824,7.0,1.0,22.0,1.0,0000208,0
0000210,51,65 days,2852.47,20.087817,139.0,0.0,0.0,3.0,0000210,0
...,...,...,...,...,...,...,...,...,...,...
0240472,2,17 days,NaN,NaN,NaN,NaN,NaN,NaN,0240472,0
0240473,2,17 days,NaN,NaN,NaN,NaN,NaN,NaN,0240473,0
0240475,1,17 days,NaN,NaN,NaN,NaN,NaN,NaN,0240475,0
0240477,1,9 days,NaN,NaN,NaN,NaN,NaN,NaN,0240477,0
0240490,1,15 days,NaN,NaN,NaN,NaN,NaN,NaN,0240490,0
0240495,1,12 days,NaN,NaN,NaN,NaN,NaN,NaN,0240495,0
0240498,1,12 days,NaN,NaN,NaN,NaN,NaN,NaN,0240498,0
0240500,1,12 days,NaN,NaN,NaN,NaN,NaN,NaN,0240500,0
0240526,1,11 days,NaN,NaN,NaN,NaN,NaN,NaN,0240526,0
0240548,4,1 days,23.00,23.000000,0.0,1.0,0.0,0.0,0240548,0
0240553,3,4 days,23.00,23.000000,0.0,1.0,0.0,0.0,0240553,0
0240556,2,11 days,NaN,NaN,NaN,NaN,NaN,NaN,0240556,0
0240562,2,10 days,NaN,NaN,NaN,NaN,NaN,NaN,0240562,0
0240564,3,9 days,NaN,NaN,NaN,NaN,NaN,NaN,0240564,0
0240567,2,10 days,NaN,NaN,NaN,NaN,NaN,NaN,0240567,0
0240570,1,9 days,NaN,NaN,NaN,NaN,NaN,NaN,0240570,0
0240621,1,8 days,NaN,NaN,NaN,NaN,NaN,NaN,0240621,0
0240622,2,8 days,NaN,NaN,NaN,NaN,NaN,NaN,0240622,0
0240627,2,8 days,NaN,NaN,NaN,NaN,NaN,NaN,0240627,0
0240650,2,5 days,23.00,23.000000,0.0,1.0,0.0,0.0,0240650,0
0240664,1,4 days,NaN,NaN,NaN,NaN,NaN,NaN,0240664,0
0240678,1,4 days,NaN,NaN,NaN,NaN,NaN,NaN,0240678,0
0240679,1,4 days,NaN,NaN,NaN,NaN,NaN,NaN,0240679,0
0240684,2,3 days,NaN,NaN,NaN,NaN,NaN,NaN,0240684,0
0240685,2,3 days,NaN,NaN,NaN,NaN,NaN,NaN,0240685,0
0240689,2,3 days,NaN,NaN,NaN,NaN,NaN,NaN,0240689,0
0240696,2,3 days,NaN,NaN,NaN,NaN,NaN,NaN,0240696,0
0240698,2,3 days,NaN,NaN,NaN,NaN,NaN,NaN,0240698,0
0240700,1,2 days,NaN,NaN,NaN,NaN,NaN,NaN,0240700,0
0240752,1,1 days,NaN,NaN,NaN,NaN,NaN,NaN,0240752,0

In [86]:
inco_com_data=new_data4[new_data4.CONTDIREC=='I']

In [87]:
inco_com_data.index=inco_com_data['EXTRELNO']

In [88]:
temp=ind_data
temp=temp.join(inco_com_data['CONTDIREC'])
curr_val2=pd.get_dummies(temp['CONTDIREC'],prefix='CONTDIREC')

In [89]:
curr_val2.index.unique()

Index(['0000020', '0000035', '0000042', '0000043', '0000060', '0000072',
       '0000081', '0000089', '0000091', '0000100',
       ...
       '0240664', '0240678', '0240679', '0240684', '0240685', '0240689',
       '0240696', '0240698', '0240700', '0240752'],
      dtype='object', name='EXTRELNO', length=21306)

In [74]:
len(ind_data)

21306

In [90]:
ind_data.columns

Index(['Frequency', 'recency', 'sum', 'avg', 'PAYTYPECD_D', 'PAYTYPECD_E',
       'PAYTYPECD_O', 'PAYTYPECD_X', 'EXTRELNO', 'CLASCODE_CM'],
      dtype='object')

In [91]:
total = ind_data.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((ind_data.isnull().sum(axis=0)/ind_data.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns.head(20)

             Total    Percent
PAYTYPECD_X   6393  30.005632
PAYTYPECD_O   6393  30.005632
PAYTYPECD_E   6393  30.005632
PAYTYPECD_D   6393  30.005632
avg           6393  30.005632
sum           6393  30.005632
CLASCODE_CM      0   0.000000
EXTRELNO         0   0.000000
recency          0   0.000000
Frequency        0   0.000000

In [92]:
ind_data.head(20)

,Frequency,recency,sum,avg,PAYTYPECD_D,PAYTYPECD_E,PAYTYPECD_O,PAYTYPECD_X,EXTRELNO,CLASCODE_CM
EXTRELNO,,,,,,,,,,
0000020,49,313 days,2852.97,19.812292,139.0,0.0,0.0,3.0,0000020,0
0000035,57,30 days,2844.40,20.173050,139.0,0.0,0.0,2.0,0000035,0
0000042,36,1710 days,1543.03,18.153294,82.0,0.0,0.0,3.0,0000042,0
0000043,112,680 days,4373.24,19.097118,221.0,0.0,0.0,5.0,0000043,0
0000060,36,2121 days,1333.33,17.543816,69.0,0.0,0.0,6.0,0000060,0
0000072,59,155 days,2835.06,51.546545,47.0,0.0,0.0,3.0,0000072,0
0000081,156,120 days,8273.71,53.036603,137.0,0.0,0.0,7.0,0000081,1
0000089,47,46 days,2829.47,19.786503,139.0,0.0,0.0,3.0,0000089,0
0000091,48,680 days,2288.56,19.560342,111.0,0.0,0.0,6.0,0000091,0
0000100,64,106 days,2834.50,19.414384,139.0,0.0,0.0,6.0,0000100,0
0000105,49,117 days,2853.90,57.078000,47.0,0.0,0.0,3.0,0000105,0
0000109,56,162 days,2885.13,82.432286,0.0,1.0,29.0,2.0,0000109,0
0000113,57,255 days,2846.38,53.705283,46.0,0.0,0.0,4.0,0000113,0
0000114,59,281 days,2826.34,134.587619,0.0,0.0,15.0,4.0,0000114,0
0000115,57,72 days,2852.47,20.087817,139.0,0.0,0.0,3.0,0000115,0
0000120,37,2326 days,1037.19,69.146000,6.0,0.0,2.0,4.0,0000120,0
0000131,58,65 days,2846.32,53.704151,47.0,0.0,0.0,3.0,0000131,0
0000148,21,3139 days,529.00,48.090909,4.0,0.0,0.0,4.0,0000148,0
0000156,23,1036 days,1868.22,16.830811,107.0,0.0,0.0,3.0,0000156,0
0000157,24,2811 days,707.97,14.749375,40.0,0.0,0.0,4.0,0000157,0

In [93]:
ind_data['PAYTYPECD_X'].fillna(value=1,inplace=True)

In [94]:
total = ind_data.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((ind_data.isnull().sum(axis=0)/ind_data.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns.head(20)

             Total    Percent
PAYTYPECD_O   6393  30.005632
PAYTYPECD_E   6393  30.005632
PAYTYPECD_D   6393  30.005632
avg           6393  30.005632
sum           6393  30.005632
CLASCODE_CM      0   0.000000
EXTRELNO         0   0.000000
PAYTYPECD_X      0   0.000000
recency          0   0.000000
Frequency        0   0.000000

In [95]:
ind_data['PAYTYPECD_O'].fillna(value=0,inplace=True)
ind_data['PAYTYPECD_D'].fillna(value=0,inplace=True)
ind_data['PAYTYPECD_E'].fillna(value=0,inplace=True)

In [96]:
total = ind_data.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((ind_data.isnull().sum(axis=0)/ind_data.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns.head(20)

             Total    Percent
avg           6393  30.005632
sum           6393  30.005632
CLASCODE_CM      0   0.000000
EXTRELNO         0   0.000000
PAYTYPECD_X      0   0.000000
PAYTYPECD_O      0   0.000000
PAYTYPECD_E      0   0.000000
PAYTYPECD_D      0   0.000000
recency          0   0.000000
Frequency        0   0.000000

In [97]:
from sklearn.preprocessing import Imputer
imp_mean = Imputer(missing_values = 'NaN', strategy='mean')
imp_mean.fit(ind_data[['avg']])
ind_data['avg'] = imp_mean.transform(ind_data[['avg']])

In [98]:
imp_mean = Imputer(missing_values = 'NaN', strategy='mean')
imp_mean.fit(ind_data[['sum']])
ind_data['sum'] = imp_mean.transform(ind_data[['sum']])

In [99]:
total = ind_data.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((ind_data.isnull().sum(axis=0)/ind_data.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns.head(20)

             Total  Percent
CLASCODE_CM      0      0.0
EXTRELNO         0      0.0
PAYTYPECD_X      0      0.0
PAYTYPECD_O      0      0.0
PAYTYPECD_E      0      0.0
PAYTYPECD_D      0      0.0
avg              0      0.0
sum              0      0.0
recency          0      0.0
Frequency        0      0.0

In [145]:
#Extracting our dependent variable.

In [141]:
dep_data=data5[((data5['EXRELDATEN']>=pd.Timestamp(2006,1,1)) & (data5['EXRELDATEN']<=pd.Timestamp(2006,12,31))) | (data5['EXRELDATEN'].isnull()==True)]

In [143]:
dep_data.index=dep_data['EXTRELNO']

In [148]:
dep_data=dep_data[dep_data['EXTRELSTDT']<pd.Timestamp(2006,1,1)]

In [149]:
temp3=dep_data[dep_data['EXRELDATEN'].isnull()==False]

In [150]:
new_dep_data=pd.DataFrame(index=ind_data.index)

In [151]:
temp3['EXRELDATEN']=1

C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [152]:
new_dep_data=new_dep_data.join(temp3['EXRELDATEN'])
new_dep_data.fillna(value=0,inplace=True)

In [157]:
new_dep_data['EXTRELNO']=new_dep_data.index

In [158]:
new_dep_data.drop_duplicates(subset='EXTRELNO',inplace=True)

In [160]:
new_dep_data.head()

          EXRELDATEN EXTRELNO
EXTRELNO
0000020          0.0  0000020
0000035          0.0  0000035
0000042          0.0  0000042
0000043          0.0  0000043
0000060          0.0  0000060

In [120]:
ind_data

,Frequency,recency,sum,avg,PAYTYPECD_D,PAYTYPECD_E,PAYTYPECD_O,PAYTYPECD_X,EXTRELNO,CLASCODE_CM
EXTRELNO,,,,,,,,,,
0000020,49,313 days,2852.970000,19.812292,139.0,0.0,0.0,3.0,0000020,0
0000035,57,30 days,2844.400000,20.173050,139.0,0.0,0.0,2.0,0000035,0
0000042,36,1710 days,1543.030000,18.153294,82.0,0.0,0.0,3.0,0000042,0
0000043,112,680 days,4373.240000,19.097118,221.0,0.0,0.0,5.0,0000043,0
0000060,36,2121 days,1333.330000,17.543816,69.0,0.0,0.0,6.0,0000060,0
0000072,59,155 days,2835.060000,51.546545,47.0,0.0,0.0,3.0,0000072,0
0000081,156,120 days,8273.710000,53.036603,137.0,0.0,0.0,7.0,0000081,1
0000089,47,46 days,2829.470000,19.786503,139.0,0.0,0.0,3.0,0000089,0
0000091,48,680 days,2288.560000,19.560342,111.0,0.0,0.0,6.0,0000091,0
0000100,64,106 days,2834.500000,19.414384,139.0,0.0,0.0,6.0,0000100,0
0000105,49,117 days,2853.900000,57.078000,47.0,0.0,0.0,3.0,0000105,0
0000109,56,162 days,2885.130000,82.432286,0.0,1.0,29.0,2.0,0000109,0
0000113,57,255 days,2846.380000,53.705283,46.0,0.0,0.0,4.0,0000113,0
0000114,59,281 days,2826.340000,134.587619,0.0,0.0,15.0,4.0,0000114,0
0000115,57,72 days,2852.470000,20.087817,139.0,0.0,0.0,3.0,0000115,0
0000120,37,2326 days,1037.190000,69.146000,6.0,0.0,2.0,4.0,0000120,0
0000131,58,65 days,2846.320000,53.704151,47.0,0.0,0.0,3.0,0000131,0
0000148,21,3139 days,529.000000,48.090909,4.0,0.0,0.0,4.0,0000148,0
0000156,23,1036 days,1868.220000,16.830811,107.0,0.0,0.0,3.0,0000156,0
0000157,24,2811 days,707.970000,14.749375,40.0,0.0,0.0,4.0,0000157,0
0000159,52,58 days,2832.640000,19.948169,139.0,0.0,0.0,2.0,0000159,0
0000165,86,199 days,5635.440000,19.983830,274.0,0.0,0.0,6.0,0000165,0
0000169,116,227 days,2845.400000,20.180142,138.0,0.0,0.0,3.0,0000169,0
0000174,52,58 days,2829.970000,19.790000,139.0,0.0,0.0,3.0,0000174,1
0000188,60,242 days,2838.370000,39.977042,0.0,3.0,62.0,3.0,0000188,0
0000199,115,40 days,5665.630000,20.527645,266.0,2.0,0.0,6.0,0000199,0
0000202,94,124 days,2851.970000,20.084296,138.0,0.0,1.0,3.0,0000202,1
0000203,54,8 days,2858.010000,19.442245,142.0,0.0,1.0,4.0,0000203,0
0000208,63,8 days,2837.600000,83.458824,7.0,1.0,22.0,1.0,0000208,0
0000210,51,65 days,2852.470000,20.087817,139.0,0.0,0.0,3.0,0000210,0
...,...,...,...,...,...,...,...,...,...,...
0240470,2,17 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240470,0
0240472,2,17 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240472,0
0240473,2,17 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240473,0
0240475,1,17 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240475,0
0240477,1,9 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240477,0
0240490,1,15 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240490,0
0240495,1,12 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240495,0
0240498,1,12 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240498,0
0240500,1,12 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240500,0
0240526,1,11 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240526,0
0240548,4,1 days,23.000000,23.000000,0.0,1.0,0.0,0.0,0240548,0
0240553,3,4 days,23.000000,23.000000,0.0,1.0,0.0,0.0,0240553,0
0240556,2,11 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240556,0
0240562,2,10 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240562,0
0240567,2,10 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240567,0
0240570,1,9 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240570,0
0240621,1,8 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240621,0
0240622,2,8 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240622,0
0240627,2,8 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240627,0
0240650,2,5 days,23.000000,23.000000,0.0,1.0,0.0,0.0,0240650,0
0240664,1,4 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240664,0
0240678,1,4 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240678,0
0240679,1,4 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240679,0
0240684,2,3 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240684,0
0240685,2,3 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240685,0
0240689,2,3 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240689,0
0240696,2,3 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240696,0
0240698,2,3 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240698,0
0240700,1,2 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240700,0
0240752,1,1 days,1863.360956,39.434505,0.0,0.0,0.0,1.0,0240752,0

In [121]:
ind_data.drop(columns='EXTRELNO',inplace=True)
# dep_data.drop(columns='EXTRELNO',inplace=True)

In [122]:
e=pd.Series(index=ind_data.index)
for num in range(len(ind_data['recency'])):
    e[num]=ind_data['recency'][num].days

In [123]:
ind_data['recency']=e

In [ ]:
temp=ind_data
temp.drop(new_data5.index,axis=0,errors='ignore',inplace=True)

In [125]:
ind_data.head()

,Frequency,recency,sum,avg,PAYTYPECD_D,PAYTYPECD_E,PAYTYPECD_O,PAYTYPECD_X,CLASCODE_CM
EXTRELNO,,,,,,,,,
0000020,49,313.0,2852.97,19.812292,139.0,0.0,0.0,3.0,0
0000035,57,30.0,2844.40,20.173050,139.0,0.0,0.0,2.0,0
0000042,36,1710.0,1543.03,18.153294,82.0,0.0,0.0,3.0,0
0000043,112,680.0,4373.24,19.097118,221.0,0.0,0.0,5.0,0
0000060,36,2121.0,1333.33,17.543816,69.0,0.0,0.0,6.0,0

#### Here ends the data pre-processing phase.

#### Exploratory data analysis

In [126]:
ind_data.describe()

,Frequency,recency,sum,avg,PAYTYPECD_D,PAYTYPECD_E,PAYTYPECD_O,PAYTYPECD_X,CLASCODE_CM
count,13843.000000,13843.000000,13843.000000,13843.000000,13843.000000,13843.000000,13843.000000,13843.000000,13843.000000
mean,30.471357,1443.940331,2052.044434,38.563599,37.488622,0.875966,10.255725,1.558333,0.079607
std,35.446168,1560.562357,1111.473332,30.874239,63.694098,4.378611,32.920834,1.345406,0.393220
min,1.000000,1.000000,-276.000000,-138.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,102.000000,1863.360956,19.922908,0.000000,0.000000,0.000000,1.000000,0.000000
50%,18.000000,470.000000,1863.360956,39.434505,0.000000,0.000000,0.000000,1.000000,0.000000
75%,55.000000,3006.000000,2782.690000,39.434505,57.000000,0.000000,0.000000,2.000000,0.000000
max,545.000000,4414.000000,52168.790000,360.000000,2463.000000,137.000000,829.000000,28.000000,6.000000

#### Modelling Phase

In [130]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test= train_test_split(ind_data,dep_data,test_size=0.2,random_state=0)

C:\Users\adity\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [134]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit( X_train,y_train)

C:\Users\adity\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [135]:
y_pred=logreg.predict(X_test)

In [137]:
len(y_pred)

4387